<!doctype html>
<title>Submission Form</title>
<h1>Snap Travel Demo</h1>
<form action="/" method="post" novalidate>
    <p>City:<input type="text" id="city" name="city" /></p>
    <p>Checkin String:<input type="text" id="checkin" name="checkin" /></p>
    <p>Checkout String:<input type="text" id="checkout" name="checkout" /></p>
    <p><button type="submit"> Submit </button></p>
</form>
<table>
    <tr>
        <th>Hotel id</th>
        <th>Hotel name</th>
        <th>Number of reviews</th>
        <th>Address</th>
        <th>Number of stars</th>
        <th>Amenities</th>
        <th>Image</th>
        <th>Snaptravel Price</th>
        <th>Hotel.com Price</th>
    </tr>
{% for row in data %}
    <tr>
        <th>{{ row.id }}</th>
        <th>{{ row.hotel_name }}</th>
        <th>{{ row.num_reviews }}</th>
        <th>{{ row.address }}</th>
        <th>{{ row.num_stars }}</th>
        <th>{{ row.amenities }}</th>
        <th><img src="{{ row.image_url }}" /></th>
        <th>{{ row.price }}</th>
        <th>{{ row.retail_price }}</th>
    </tr>
{% endfor %}
</table>